<div class="post">
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            <p>{{description}}</p>
            <div class="info">
                submitted  {{days}} ago by {{postAuthor}}
            </div>
            <div class="controls">
                <ul>
                    {{#if isAuthor}}
                        <li class="action"><a class="editLink" href="#/edit/post/:{{_id}}">edit</a></li>
                        <li class="action"><a class="deleteLink" href="#/delete/post/:{{_id}}">delete</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>